<!-- Navbar when connected-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="./assets/logo2.png" alt="logo" style="width:100px; height:75%">
  </a>

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Mes Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mes Likes</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#" style="color:aquamarine">Mes notifs</a>
    </li>
</ul>

    <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a class="nav-link " href="#">
        Mon profil
      </a>
    </li>
    </ul>

</nav>

<!--Contenu de la page-->

<div class="notif" style="color:aquamarine">
<span> <a href="">User Machin </a>a liké votre item</span>
</div>
<br>
<div class="notif" style="color:aquamarine"><span> User Machin a liké votre item</span></div>
<br>
<div class="notif" style="color:aquamarine"><span> User Machin a liké votre item</span></div>
<br>

