<form [formGroup]='itemForm'>
  <div class="formGroup">
    <input
      type="text"
      id="title"
      formControlName="title"
      placeholder=" Title"
    >
  </div>
  <br>
  <div class="photo">
    <input
      type="text"
      id="photo"
      formControlName="photo"
      placeholder=" Photo"
    >
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="description"
      formControlName="description"
      placeholder=" Description"
    >
  </div>
  <br>
  <div class="formGroup">
    <button id='add' (click)="submit()" [disabled]="itemForm.invalid">
    Ajouter
    </button>
  </div>
</form>
