
<!--
<form [formGroup]='userForm'>
  <div class="formGroup">
    <input
      type="text"
      id="username"
      formControlName="username"
      placeholder=" Username"
    >
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="password"
      formControlName="password"
      placeholder=" Password"
    >
  </div>
  <br>
  <div class="formGroup">
    <input
      type="file"
      id="avatar"
      formControlName="avatar"
      (change)="onFileSelect($event)" />
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="email"
      formControlName="email"
      placeholder=" Email"
    >
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="phone"
      formControlName="phone"
      placeholder=" Phone"
    >
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="town"
      formControlName="town"
      placeholder=" Town"
    >
  </div>
  <br>
  <div class="formGroup">
    <button id='add' (click)="submit()" [disabled]="userForm.invalid">
    Ajouter
    </button>
  </div>
</form> -->





<button class="btn btn-outline-primary btn-lg" (click)="openModal(popup)">S'inscrire</button>


<div class="container">

<ng-template #popup>
  <div class="modal-header" class="text-center">
  Inscription
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">

<form [formGroup]='userForm' style="margin:auto; display:block; text-align:center">
  <div class="formGroup">
    <input
      type="text"
      id="username"
      formControlName="username"
      placeholder=" Pseudo"
    >
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="password"
      formControlName="password"
      placeholder=" Mot de passe"
    >
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="avatar"
      formControlName="avatar"
      placeholder=" Avatar"
    >
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="email"
      formControlName="email"
      placeholder=" Email"
    >
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="phone"
      formControlName="phone"
      placeholder=" Telephone"
    >
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="town"
      formControlName="town"
      placeholder=" Ville"
    >
  </div>
  <br>
</form>

</div>
  <div class="modal-footer">
  <a href="" class="btn btn-primary" style="margin:auto;display:block">C'est parti !</a>
  </div>

</ng-template>

</div>

