<p>give-list works!</p>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Photo</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.photo }}</td>
          <td>{{ item.description }}</td>
          <td>
            <button id='remove' (click)="remove(item.id)">
              X
            </button>
          </td>
          <td>
            <button id='update' (click)="update(item.id, item.title, item.photo, item.description)">
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<a routerLink="/additem" class="btn btn-info">Add Item</a>
