h2 {
  text-align: center;
  color: aquamarine;
  margin: auto;
}

// Navbar

.navbar {
margin-bottom: 2em;
height: 4em;
}

.nav-link {
  font-family: fantasy;
}


@media (min-width: 992px){
  .navbar li {
      margin-left : 1em;
      margin-right : 1em;

  }
}

// Fin Navbar

// Cards
.btn-dark {
  color: aquamarine;
  margin-bottom: 1em;
}

.container {
  margin-top: 2%;
  padding: 20px 5px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.0s ease;
}

.inner:hover img {
  transform: scale(1.2);
}

.btn-primary {
  margin-bottom: 2em;
}

  /**
  * card design
  **/
  div {
    &.card {
      height: 27em;
      p {
        &.card-text {
          height: 3em;
          overflow: hidden;
        }
        //&.card-img-top {
         // height: 8em;
        //}
      }
    }
  }

