


.container {
  margin-top: 7%;
  padding: 20px 5px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.0s ease;
}

.inner:hover img {
  transform: scale(1.3);
}

h1{
  color: brown;
}
