

.container {
  margin-top: 7%;
  padding: 20px 5px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.0s ease;
}

.inner:hover img {
  transform: scale(1.2);
}

.btn-primary {
  margin-bottom: 2em;
}

  /**
  * card design
  **/
  div {
    &.card {
      height: 29em;
      p {
        &.card-text {
          height: 3em;
          overflow: hidden;
        }
        //&.card-img-top {
         // height: 8em;
        //}
      }
    }
  }
